__pycache__/
*.pyc
.venv/
venv/
env/
*.egg-info/
.env
db.sqlite3
staticfiles/
media/
.mypy_cache/
.pytest_cache/
.DS_Store
*.log
.ruff_cache/
.env.*
!.env.example
*.dump
dist/
build/
.coverage
htmlcov/
.idea/
.vscode/
node_modules/
vendor/
out/
coverage/
.turbo/
